/adminDeposito.class
/adminSucursal.class
/cajero.class
/depositoGeneral.class
/descuento.class
/detalleDeposito.class
/detalleInforme.class
/detalleInventario.class
/detallePedido.class
/detalleVenta.class
/empleado.class
/informe.class
/inventarioSucursal.class
/pedido.class
/producto.class
/venta.class
